main
  .block(class="form")
    form
      section
        .field
          label
            span Name
            input(
              name = "name"          
              type = "text"
              required = "true"
            )
        .field
          label
            span Title
            input(
              name = "title"          
              type = "text"
              required = "true"
            )
        .field
          label
            span Color
            input(
              name = "color"          
              type = "text"
              required = "true"
            )
      footer
        nav
          a(name="cancel" href="#") Cancel
          button.highlight Create