main
  box-sizing border-box
  display flex
  flex-wrap wrap
  justify-content center
  align-items flex-start
  align-content flex-start
  row-gap 4rem
  column-gap 2rem
  padding 0
  flex-direction column

section
  --section-header-flex-direction row