.field
  width 100%

.form
  justify-content flex-start

form
  max-width unset
  section
    width 100%
    gap 1rem
    .field label
      span
        font-size var(--small-copy-font-size)
        line-height var(--small-copy-line-height)
        font-weight normal
      input 
        font-size var(--small-copy-font-size)
        line-height var(--small-copy-line-height)
        min-width unset
        padding 0.25rem 0.5rem
  footer
    width unset
    --copy-font-size var(--small-copy-font-size)
    button
      text-wrap nowrap