main
  .block(class="form")
    form
      section
        .field
          label
            span Name
            input(
              name = "name"          
              type = "text"
              required = "true"
              value = name
            )
        .field
          label
            span Image
            input(
              name = "image"          
              type = "file"
              accept = "image/*"
            )
      footer
        block actions
